apiVersion: v1
kind: Service
metadata:
  name: {{ include "woocommerce.fullname" . }}-mysql
  labels:
    {{- include "woocommerce.labels" . | nindent 4 }}
spec:
  ports:
    - port: 3306
  selector:
    app.kubernetes.io/component: mysql
    {{- include "woocommerce.selectorLabels" . | nindent 4 }}
  clusterIP: None
