apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "woocommerce.fullname" . }}-wordpress
  labels:
    {{- include "woocommerce.labels" . | nindent 4 }}
spec:
  accessModes:
    - {{ .Values.persistence.accessMode }}
  resources:
    requests:
      storage: {{ .Values.persistence.size }}
  {{- if .Values.persistence.storageClass }}
  storageClassName: {{ .Values.persistence.storageClass }}
  {{- end }}
